<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <a href="/">Go to Home</a>
      <h1 class="error-title">Error</h1>
      <p class="error"><%- content %></p>
    </div>
  </body>
</html>
